[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_API_URL = "https://test-fullstack-template-backend.michaelbylstra.com"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
