[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_API_URL = "https://fllstck-tmplt-backend.michaelbylstra.com"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
